COMPOSE_PROJECT_NAME=cooking_background

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

REDIS_HOST=redis
REDIS_PORT=6379

ADMIN_USER_MODEL=User
ADMIN_USER_MODEL_USERNAME_FIELD=username
ADMIN_SECRET_KEY=super-secret-key-ChangeMe

ADMIN_PASSWORD=admin
ADMIN_USERNAME=admin
